<div class="max-w-6xl m-auto">
  <div class="flex items-center justify-between py-4 my-4 border-b">
    <% if user_signed_in? && current_user.id == @user.id %>
      <h1 class="text-xl font-bold mb-0 text-gray-500">あなたをフォローしているユーザー</h1>
    <% else %>
      <h1 class="text-xl font-bold mb-0 text-gray-500"><%= @user.nickname %>さんをフォローしているユーザー</h1>
    <% end %>
  </div>
  
  <% @users.each do |user| %>
    <%= link_to "/users/#{user.id}", title: "ユーザーページへ" do %>
      <div class="flex item-center justify-center">
        <div class="bg-white shadow p-4 rounded lg:w-1/2">
          <div class="text-center mt-4">
            <p class="text-gray-600 font-bold"><%= user.nickname %></p>
          </div>
          <div class="flex justify-center mt-4">
            <% if user.avatar.present?%>
              <%= image_tag user.avatar, class:"p-2 mx-auto w-24 h-24 rounded-full flex-shrink-0 object-cover object-center"%>
            <% else %>
              <img alt="user" src="/images/user.jpeg" class="p-2 mx-auto w-16 h-16 rounded-full flex-shrink-0 object-cover object-center">
            <% end %>
          </div>
        </div>
      </div>  
    <% end %>
  <% end %>
</div>