
<!-- タイマー -->
<div class="max-w-2xl text-6xl bg-gray-400 text-center m-auto p-10 border rounded-lg">
  <p class="text-lg">ポモドーロ・テクニック</p>
  <div id="timer" class="bg-gray-300">25:00</div>
    <div>
      <div id="start" class="btn btn-default">Start</div>
    </div>
</div>

<!-- モーダルウィンドウ -->
<div class="text-center m-auto p-10">
  <div id="open"></div>
  <div id="mask" class="fixed bg-gray-500 bg-opacity-75 inset-0 hidden z-0"></div>
  <section id="modal" class="bg-white w-1/4 absolute border rounded-lg p-10 inset-x-0 top-1/4 m-auto hidden">
    <p class="">タイムアップです！</p>
    <p id="rest" class="btn btn-default mt-4">休憩する</p>
    <p id="keep" class="btn btn-default mt-4">もっと頑張る</p>
  </section>
</div>