<div class="max-w-6xl text-6xl bg-gray-400 text-center m-auto p-10 border rounded-lg">
  <div id="timer" class="bg-gray-300">00:00</div>
    <div class="">
      <div id="min" class="btn btn-default">Min</div>
      <div id="sec" class="btn btn-default">Sec</div>
      <div id="reset" class="btn btn-default">Reset</div>
      <div id="start" class="btn btn-default">Start</div>
    </div>
</div>