<div class="max-w-6xl m-auto">
  
  <div class="flex items-center justify-between pb-4 mb-4 border-b">
    <h1 class="text-xl font-bold mb-0 text-gray-500">これからの予定は？ </h1>
  </div>

  <%= render  "post" %>
</div>
